In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [9]:
df = sns.load_dataset('titanic')

### describe

In [13]:
df.describe()
# 숫자 column만 표시

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [15]:
df.describe(include='object')

         sex embarked  who  embark_town alive
count    891      889  891          889   891
unique     2        3    3            3     2
top     male        S  man  Southampton    no
freq     577      644  537          644   549

### Count()

In [18]:
df['age'].count()

np.int64(10714)

### mean
평균

In [25]:
arr = np.arange(15).reshape(3, 5)
temp_df = pd.DataFrame(arr)
temp_df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [24]:
df.mean(numeric_only=True)
# 숫자만 = True

survived       0.383838
pclass         2.308642
age           29.699118
sibsp          0.523008
parch          0.381594
fare          32.204208
adult_male     0.602694
alone          0.602694
dtype: float64

In [26]:
cond = df['adult_male'] == True
df.loc[cond, 'age'].mean()

np.float64(33.17312348668281)

# 연습문제
- fare 30이상 40미만
- pclass 1
- => 나이평균, 총수

In [37]:
c1 = 30 <= df['fare']
c2 = 40 > df['fare']
c3 = df['pclass'] == 1

target = df.loc[c1 & c2 & c3]['age']
target

23     28.0
55      NaN
96     71.0
170    61.0
174    56.0
209    40.0
270     NaN
298     NaN
339    45.0
351     NaN
449    52.0
462    47.0
492    55.0
515    47.0
556    48.0
607    27.0
625    61.0
630    80.0
632    32.0
647    56.0
740     NaN
766     NaN
782    29.0
793     NaN
842    30.0
853    16.0
887    19.0
889    26.0
Name: age, dtype: float64

In [38]:
print(target.mean())
print(target.count())

44.095238095238095
21

In [39]:
# nan 스킵 여부
df.mean(numeric_only=True, skipna=False)

survived       0.383838
pclass         2.308642
age                 NaN
sibsp          0.523008
parch          0.381594
fare          32.204208
adult_male     0.602694
alone          0.602694
dtype: float64

### median
중앙값

In [41]:
pd.Series([1, 2, 3, 10, 100]).median()

np.float64(3.0)

In [43]:
pd.Series([1, 2, 3, 4, 10, 100]).median()
# 중앙값 2개의 평균

np.float64(3.5)

In [47]:
mean_value = df['age'].mean()
median_value = df['age'].median()
print(mean_value)
print(median_value)

29.69911764705882
28.0

###  sum

In [49]:
df.sum(numeric_only=True)

survived        342.0000
pclass         2057.0000
age           21205.1700
sibsp           466.0000
parch           340.0000
fare          28693.9493
adult_male      537.0000
alone           537.0000
dtype: float64

In [51]:
df['fare'].cumsum()
# 누적합

NameError: name '누적합' is not defined

In [52]:
df['fare'].cumprod()
# 누적곲

0      7.250000e+00
1      5.168039e+02
2      4.095671e+03
3      2.174801e+05
4      1.750715e+06
           ...
886    0.000000e+00
887    0.000000e+00
888    0.000000e+00
889    0.000000e+00
890    0.000000e+00
Name: fare, Length: 891, dtype: float64

### var (분산)

In [60]:
# 직접 계산
fare_mean = df['fare'].values.mean()

total = ((df['fare'].values - fare_mean) ** 2).sum()
total_count = df['fare'].count() - 1
my_var = total / total_count
my_var

np.float64(2469.436845743116)

### std 표준편차

In [63]:
np.sqrt(df['fare'].var())
# 동일
df['fare'].std()

np.float64(49.6934285971809)

### min() , mex()

In [64]:
df['age'].max()

np.float64(80.0)

### agg 어그리게이션 덧붙이기

In [66]:
df['age'].agg(['mean','std'])

mean    29.699118
std     14.526497
Name: age, dtype: float64

In [68]:
df['age', 'fare'].agg(['mean', 'count', 'min', 'max'])

KeyError: ('age', 'fare')

### quantile(분위)

In [69]:
df['age'].quantile(0.1)

np.float64(14.0)

In [72]:
df['age'].quantile(0.5)
# 중간값과 동일

np.float64(28.0)

### unique

In [74]:
df['who'].unique()

array(['man', 'woman', 'child'], dtype=object)

In [75]:
df['who'].nunique()

3

### mode
최다값

In [83]:
df['who'].mode()

0    man
Name: who, dtype: object

In [88]:
df['deck'].mode()

0    C
Name: deck, dtype: category
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']

### corr
-1 (반비례) ~1 (정비례)

In [94]:
df.corr(numeric_only=True)

,survived,pclass,age,sibsp,parch,fare,adult_male,alone
survived,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307,-0.557080,-0.203367
pclass,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500,0.094035,0.135207
age,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067,0.280328,0.198270
sibsp,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651,-0.253586,-0.584471
parch,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225,-0.349943,-0.583398
fare,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000,-0.182024,-0.271832
adult_male,-0.557080,0.094035,0.280328,-0.253586,-0.349943,-0.182024,1.000000,0.404744
alone,-0.203367,0.135207,0.198270,-0.584471,-0.583398,-0.271832,0.404744,1.000000

In [95]:
df.corr(numeric_only=True)['survived']

survived      1.000000
pclass       -0.338481
age          -0.077221
sibsp        -0.035322
parch         0.081629
fare          0.257307
adult_male   -0.557080
alone        -0.203367
Name: survived, dtype: float64